Repository PukieDiederik/transcendence, pull requests merged in 2023-06, with the labels that each got.

#13 Added Contributing.md
  CONTRIBUTING.md
Labels: documentation

#20 Message entities channel user
  backend/src/app.service.ts
  backend/src/db_interactions_modules/app/app.gateway.ts
  backend/src/db_interactions_modules/messages/messages.entity.ts
  backend/src/db_interactions_modules/messages/messages.module.ts
  backend/src/db_interactions_modules/messages/messages.service.ts
  frontend/src/App.css
  frontend/src/App.vue
  frontend/src/assets/back.png
  frontend/src/assets/back.svg
  frontend/src/assets/channels.png
  frontend/src/assets/channels.svg
  frontend/src/assets/magnifyglass.svg
  frontend/src/assets/new.png
  frontend/src/assets/new_message.svg
  frontend/src/assets/search.png
  frontend/src/assets/search.svg
  frontend/src/assets/user.png
  frontend/src/assets/user.svg
Labels: Backend

#21 Hardcoded backend url
  .env.example
  docker-compose.yml
  frontend/src/App.css
  frontend/src/App.vue
  frontend/src/assets/back.png
  frontend/src/assets/channels.png
  frontend/src/assets/new.png
  frontend/src/assets/new_message.svg
  frontend/src/assets/user.png
  frontend/src/assets/user.svg
  frontend/src/main.js
  frontend/vite.config.js
Labels: Refactoring, Frontend
